body{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; 
}

ul{
  list-style: none;
  padding: 0px;
  margin: 0px;
}

img{
  width: 100%;
  display: block;
}

.wrapper{
  overflow: hidden;
  
}


.slide{
  display: flex;
}

.slide:hover{
  will-change: transform;
}


.slide li{
  flex-shrink: 0;
  width: 80vw;
  max-width: 800px;
  margin: 0 20px;
  transition: .4s;
  opacity: .8;
  transform: scale(.9);
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2 4px rgba(0,0,0,.4);
}

.slide{
  transform: translate3d(0, 0, 0);
  
}

.slide li.active{
  opacity: 1;
  transform: scale(1);
}